* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-size: cover;
  background-color: rgb(0, 0, 0);
  color: white;
  background-image: linear-gradient(174deg, rgba(0, 0, 0, 0.95) 0%, rgba(60, 60, 112, 0.95) 66%, rgba(37, 85, 153, 0.950105042) 100%), url(../../images/gifLogo.gif);
  background-position: center;
  text-shadow: 2px 2px 4px #000000;
}

.logo {
  width: 200px;
  display: flex;
  margin: 10px 0px 0px 0px;
}

main {
  display: flexbox;
  margin: 100px;
  text-align: center;
  justify-content: center;
}
main h1 {
  justify-content: center;
  font-size: 60px;
  margin: 20px;
}
main p {
  margin: 30px;
}

.logo {
  width: 100px;
  display: flex;
  margin: 10px 0px 0px 0px;
}

main {
  margin-top: 70px;
}
main h1 {
  justify-content: center;
  font-size: 20px;
}
main #pIndex {
  color: white;
  text-align: center;
  justify-content: center;
}
main #pIndex span {
  display: none;
}

h2 {
  display: flex;
  text-align: center;
  font-size: 15px;
  justify-content: center;
}

.turnoYa {
  display: inline;
  text-align: center;
  text-decoration: none;
  border: 4px solid white;
  background-color: white;
  border-radius: 55px;
  font-size: 15px;
  text-shadow: 2px 2px 5px rgba(58, 53, 53, 0.545);
}

.obrasSociales {
  display: grid;
  justify-content: center;
}
.obrasSociales img {
  width: 150px;
  justify-content: space-around;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.704));
}

.marcas {
  display: grid;
  width: 30%;
  height: 30%;
  justify-content: space-around;
  width: auto;
}
.marcas img {
  width: 150px;
  display: inline;
  align-items: center;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.704));
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 200px;
    display: flex;
    margin: 10px 0px 0px 0px;
  }
  main {
    display: flexbox;
    margin: 100px;
    text-align: center;
  }
  main h1 {
    justify-content: center;
    font-size: 30px;
    margin: 20px;
  }
  main #pIndex {
    margin-top: 30px;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .turnoYa {
    display: inline;
    text-align: center;
    text-decoration: none;
    border: 8px solid white;
    background-color: white;
    border-radius: 50px;
  }
  .obrasSociales {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .marcas {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    width: auto;
  }
}
.casoPre1, .casoPost1 {
  width: 300px;
  border-radius: 3px;
}

.contenedorCasos {
  margin-left: 300px;
  margin-right: 300px;
}

.contenedorTexto {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  gap: 200px;
}

.contenedorEquipo {
  text-align: center;
  margin-top: 100px;
  text-shadow: none;
}

div.card {
  display: grid;
  grid-template-columns: repeat(2, 100%);
}

.contenedor {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.contenedor :hover {
  box-shadow: 0px 0px 20px 1px whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.mapaChico {
  display: none;
}

div .contenedorSucursales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
}
div .contenedorMapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

div.sucursales {
  color: white;
}
div.sucursales img {
  width: 300px;
  margin: auto;
  border-radius: 2%;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 25%);
  justify-content: space-between;
  background-color: #212529;
}
footer div {
  margin-left: 8px;
  align-items: center;
}
footer div a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  align-items: center;
  padding: 20px;
}
footer div a span {
  margin-left: 3px;
}
footer div p {
  font-size: 13px;
  align-items: center;
  margin-left: 30px;
}
footer div p.derechosReservados {
  font-size: 8px;
}

@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-size: 100%;
    display: flex;
    padding: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
