$colorPrincipal:#3c3c70ee; 
$colorSecundario:rgba(255, 255, 255, 0.454);
$tabletWhidth:600px;
$escritorioWhidth: 1024px; 
$shadowImages: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.704) );
$backgroundImages: url(../../images/gifLogo.gif);
$backgroundColor:linear-gradient(174deg, rgba(0,0,0,0.95) 0%, rgba(60,60,112,0.95) 66%, rgba(37,85,153,0.9501050420168067) 100%);